export COVERALLS_REPO_TOKEN=COVERALLS_REPO_TOKEN

export HUGINN_HOST=HUGINN_HOST
export HUGINN_USER=HUGINN_USER
export HUGINN_WEBHOOK_DEPLOY_AGENTS_ID=HUGINN_WEBHOOK_DEPLOY_AGENTS_ID
export HUGINN_WEBHOOK_DEPLOY_AGENTS_PASSWORD=HUGINN_WEBHOOK_DEPLOY_AGENTS_PASSWORD
export HUGINN_WEBHOOK_REPORT_ERROR_ID=HUGINN_WEBHOOK_REPORT_ERROR_ID
export HUGINN_WEBHOOK_REPORT_ERROR_PASSWORD=HUGINN_WEBHOOK_REPORT_ERROR_PASSWORD
